.node { position: absolute; padding: 8px 24px; border:1px solid #888; border-radius:6px; box-sizing: content-box; }
.pinsContainer { position: relative; width: 0; height: 100%; pointer-events: none; } /* container は node 内位置管理用 */
.pin { position: absolute; width:12px; height:12px; border:1px solid #888; border-radius:50%; pointer-events: auto; cursor: crosshair; box-shadow: 0 0 2px rgba(0,0,0,0.6); }
.pin.in { background: rgb(0, 153, 255); }
.pin.out { background: rgb(255, 0, 0); }

body {
  margin: 0;
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #000000;
}

#nodesContainer {
  position: fixed;
  left: 0;
  top: 0;
}  

#connectionCanvas {
  /* color: #ff0000; */
  /* background-color: #383232; */
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

#assetBox{
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: rgba(150, 150, 150, 0.8);
  padding: 10px;
  border-radius: 8px;
  z-index: 20;
  user-select: none;
}

.selection-rect {
position: absolute;
border: 1px dashed #00f;
background: rgba(0, 0, 255, 0.1);
pointer-events: none;
}
.node.selected {
  outline: 2px solid #00f; /* 選択中ノードの見た目 */
}

/* assetBox がドロップ準備中の見た目 */
#assetBox.asset-drop-hover {
  outline: 3px dashed #00aaff;
  background: rgba(0,170,255,0.06);
  transition: 0.08s;
}

/* asset-list 見た目 */
#assetList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

/* 個々のアセット行 */
.asset-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  background: rgba(255,255,255,0.02);
  position: relative;
}
.asset-item:hover {
  background: rgba(255,255,255,0.04);
}
.asset-delete-btn {
  margin-left: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 6px;
  color: #ff6b6b;
  border-radius: 4px;
}
.asset-delete-btn:hover {
  background: rgba(255,107,107,0.08);
}
#asset-controls {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 6px;
}
#clearAllAssetsBtn {
  background: #ff6b6b;
  color: white;
  border: none;
  padding: 6px 8px;
  border-radius: 6px;
  cursor: pointer;
}
#clearAllAssetsBtn:hover { opacity: 0.9; }


/* プレビューキャンバス */
.asset-preview {
  width: 160px;   /* 固定表示サイズ */
  height: 80px;
  border: 1px solid rgba(255,255,255,0.06);
  background: #041016;
  border-radius: 4px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
}

/* テキスト */
.asset-title { font-weight: bold; font-size: 13px; }
.asset-desc { font-size: 12px; color: #cbd5e1; }